.App{

  display: grid;
  /* border:1px solid black; */

  justify-content: center;
  align-items: center;
  margin: auto;
  width: 600px;
}

  .multiselectiondiv {
    width:400px;
    background-color:red;
    color:white;
    font-size: 20px;
    font-style: initial;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: grid;
    margin: 20px;
    border:1px solid red;
    padding: 10px;
    
   
   
  }


.selection1,
.selection2,
.selection3 {
  width: 400px;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
  font-style: initial;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: grid;
  margin: 20px;


}

.star{
  background-color: red;
}